/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, HelveticaNeue, Helvetica;
  height: 100%;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

#root, #root>div {
  height: 100%;
  width: 100%;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

.main_container {
  position: relative;
  background-color: white;
  height: calc(100% - 45px);
  width: 100%;
}

.sidebar_container {
  width: 320px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  border-left: 1px solid lightgray;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column;
}

.sidebar_container section {
  display: block;
  background-color: #fff;
  padding: 20px;
  text-align: left;
  border-bottom: solid 1px #eeeff2;
}

.photo_container {
  position: relative;
  height: 100%;
  width: calc(100% - 320px);
}

.photo_container img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.list_photos {
  display: flex;
  flex-wrap: wrap;
}

.list_photos::after {
  content: '';
  flex-grow: 999999999;
}

.list_photos div {
  margin: 5px;
  background-color: gray;
  position: relative;
}

.toggleTagDisplay {
  padding-right: 4px;
}

.list_photos i {
  display: block;
}

.list_photos img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}

textarea {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  white-space: pre-wrap;
  flex-direction: column;
}
