.navbar {
  background-color: #fff;
  border-bottom: 1px solid #eeeff2;
  width: 100%;
  height: 45px;
}

.navbar ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.navbar li {
  float: left;
  display: block;
}

.nav-button {
  display: block;
  color: #222;
  text-decoration: none;
  font-size: 14px;
  border: none;
  padding: 16px 16px 15px 16px;
  margin: 0;
  background-color: inherit;
}

.nav-button:hover {
  color: #42b0f4;
  background-color: #fcfcfc;
  cursor: pointer;
}
