.new-comment-field {
  min-height: 16px;
  position: relative;
  line-height: 1.4em;
  font-size: 12px;
  border: 1px solid #eeeff2;
  box-sizing: content-box;
  width: calc(100%-39px);
  resize: none;
  padding: 10px 30px 10px 10px;
  max-height: 75px;

}
