
.mini_profile_pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mini_comment_pic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.owner-link .left {
  float: left;
}

.owner-link .right {
  float: left;
  padding-left: 10px;
  color: #42b0f4;
}

.taggings-list {
  padding-bottom: 15px;
  line-height: 140%;
}

.show-tags-button {
  padding-bottom: 15px;
}

.tag-link {
  color: #42b0f4;
  text-decoration: none;
}

.tag-link:hover {
  text-decoration: underline;
}

.tag-pet-button {
  float: left;
  display: block;
  padding: 5px;
  cursor: pointer;
}

.toggleTagDisplay {
  display: inline-block;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

.taggings-wrapper {
  font-size: 0.8em;
}
